*{
	margin: 0;
	padding: 0;
}
.bg{
	width: 100%;
	height:100%;
	position: relative;
}
#waterball{
	width: 180px;
	height:180px;
	border: 1px solid #000; 
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top:50%;
	margin: -90px 0 0 -90px;
	overflow: hidden;
}
.water{
	width: 200px;
	height: 90px;
	background: #4787e5;
}







